<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "navbar-form navbar-left", role = "search" }))
            {
                <div class="input-group" style="width: 220px;">
                    <input type="text" name="q" class="form-control" placeholder="Search everything..."
                           value="@(ViewContext.HttpContext.Request.QueryString["q"] ?? "")" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            }
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                <li>@Html.ActionLink("Rentals", "Index", "Rentals")</li>
                <li>@Html.ActionLink("Swap History", "History", "Swap")</li>
                <li>@Html.ActionLink("Trade-In", "Index", "TradeIn")</li>
                <li>@Html.ActionLink("Refunds", "Index", "Refunds")</li>
                <li>@Html.ActionLink("Recommendations", "Index", "Recommendations")</li>
                <li>@Html.ActionLink("Watchlist", "Index", "Watchlist")</li>
                <li>@Html.ActionLink("Playlists", "Index", "Playlist")</li>
                <li>@Html.ActionLink("Waitlist", "Index", "Waitlist")</li>
                <li>@Html.ActionLink("Requests", "Index", "MovieRequests")</li>
                <li>@Html.ActionLink("Lost & Found", "Index", "LostAndFound")</li>
                <li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
                <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                <li>@Html.ActionLink("Inventory", "Index", "Inventory")</li>
                <li>@Html.ActionLink("Activity", "Index", "Activity")</li>
                <li>@Html.ActionLink("Notifications", "Index", "Notifications")</li>
                <li>@Html.ActionLink("Coupons", "Index", "Coupons")</li>
                <li>@Html.ActionLink("Promotions", "Index", "Promotions")</li>
                <li>@Html.ActionLink("Gift Cards", "Index", "GiftCards")</li>
                <li>@Html.ActionLink("Compare", "Index", "Compare")</li>
                <li>@Html.ActionLink("Predictions", "Index", "Predictions")</li>
                <li>@Html.ActionLink("Insights", "Index", "CustomerInsights")</li>
                <li>@Html.ActionLink("Referrals", "Index", "Referrals")</li>
                <li>@Html.ActionLink("Movie Night", "Index", "MovieNight")</li>
                <li>@Html.ActionLink("Availability", "Index", "Availability")</li>
                <li>@Html.ActionLink("Quiz", "Index", "Quiz")</li>
                <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
                <li>@Html.ActionLink("Mood", "Index", "Mood")</li>
                <li>@Html.ActionLink("Surveys", "Index", "Survey")</li>
                <li>@Html.ActionLink("Challenges", "Index", "Challenges")</li>
                <li>@Html.ActionLink("Tournament", "Index", "Tournament")</li>
                <li>@Html.ActionLink("Bingo", "Index", "Bingo")</li>
                <li>@Html.ActionLink("Awards", "Index", "Awards")</li>
                <li>@Html.ActionLink("Staff Picks", "Index", "StaffPicks")</li>
                <li>@Html.ActionLink("Directors", "Index", "Directors")</li>
                <li>@Html.ActionLink("Decades", "Index", "Decade")</li>
                <li>@Html.ActionLink("Timeline", "Index", "Timeline")</li>
                <li>@Html.ActionLink("Quotes", "Index", "Quotes")</li>
                <li>@Html.ActionLink("Trivia", "Index", "Trivia")</li>
                <li>@Html.ActionLink("Statements", "Index", "Statement")</li>
                <li>@Html.ActionLink("Budget", "Index", "Budget")</li>
                <li>@Html.ActionLink("Parental", "Index", "ParentalControl")</li>
                <li>@Html.ActionLink("Subscriptions", "Index", "Subscription")</li>
                <li>@Html.ActionLink("Franchises", "Index", "Franchise")</li>
                <li>@Html.ActionLink("Damage", "Index", "Damage")</li>
                <li>@Html.ActionLink("Waivers", "Index", "PenaltyWaiver")</li>
                <li>@Html.ActionLink("Announcements", "Index", "Announcements")</li>
                <li>@Html.ActionLink("Membership Card", "Index", "MembershipCard")</li>
                <li>@Html.ActionLink("Movie Clubs", "Index", "MovieClub")</li>
                <li>@Html.ActionLink("Export", "Index", "Export")</li>
                <li>@Html.ActionLink("Store Hours", "Index", "StoreInfo")</li>
                <li>@Html.ActionLink("Merge Customers", "Index", "CustomerMerge")</li>
                <li>@Html.ActionLink("Gift Registry", "Index", "GiftRegistry")</li>
                <li>@Html.ActionLink("Roulette", "Index", "Roulette")</li>
                <li>@Html.ActionLink("Connections", "Index", "Connections")</li>
                <li>@Html.ActionLink("Emoji Story", "Index", "EmojiStory")</li>
                <li>@Html.ActionLink("Crossword", "Index", "Crossword")</li>
                <li>@Html.ActionLink("Mad Libs", "Index", "MadLibs")</li>
                <li>@Html.ActionLink("Alphabet", "Index", "Alphabet")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>

